/* --------- Global style */

.krona-one-regular {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
body {
    background-color: #B4D4EE;
    font-family: "Krona", sans-serif;
    color: #B4D4EEa;
    text-align: center;
    align-items: center;

}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 5rem;
    background-color: #81717A;
    ;
}

.logo {
    height: 100px;
    width: 100px;
    padding-right: 5px;
    padding-top: 20px;
}


/* ----game area buttons */

.play-area{
    display: flex;

justify-content: space-between;
padding-left: 25px;
padding-right: 25px;
}
#buttons {
   
  align-items: center;
    height: 900px;
    width: 900px;
    background-color: #A7ABDD;
}

button {
   
    height: 300px;
    width: 300px;
    border-radius: solid;
    border-radius: 50%;
    background-color:#A7ABDD;
    border: 10px solid #81717A; 
    padding: 25px 25px,25px, 25px;
    background: linear-gradient(to left, transparent);
}

.rock-image {
    height: 200px;
    width: 200px;
}

.paper-image
{
    height: 200px;
    width: 200px;
}
.scissors-image {
    height: 200px;
    width: 200px;
}

.lizard-image {
    height: 200px;
    width: 200px;
}

.spock-image {
    height: 200px;
    width: 200px;
}
#play {
    height: 100px;
    width: 200px;
    border-radius: 10%;
    background-color:#A7ABDD;
    border: 10px solid #81717A; 
    font-size: 30px;
}

h1 {
    font-size: 50px;
}

.game-rules {
    display: flex;
    justify-content: space-evenly;
    padding-left: 25px;
padding-right: 25px;


}
.rules-image {
    background-color:#A7ABDD;
    border: 10px solid #81717A;
    border-radius: 10%;
     
}
ul {
    font-size: 50px;
    font-family: krona;
    list-style: none;
    background-color:#A7ABDD;
    border: 10px solid #81717A;
    border-radius: 10%;
    padding-top: 25px;
}

#footer {
    background-color: #4D908E;
}