/* --------- Global style */

body {
    background-color: #E9C46A;
    font-family: "Raleway", sans-serif;
    color: #264653;
    text-align: center;

}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
    background-color: #F4A261;
}

.logo {
    height: 40px;
    padding-right: 5px;
}


/* ----game area buttons
.containing {
    justify-content: space-evenly
    height: 900px;
    width: 900px;
    background-color: aqua;
}
*/
button {
    height: 150px;
    width: 150px;
    border-radius: solid;
    border-radius: 50%;
    background-color:#2A9D8F;
    border: 10px solid #E76F51; 
    
}

.rock-image {
    height: 100px;
    width: 100px;
}

.paper-image
{
    height: 100px;
    width: 100px;
}
.scissors-image {
    height: 100px;
    width: 100px;
}

.lizard-image {
    height: 100px;
    width: 100px;
}

.spock-image {
    height: 100px;
    width: 100px;
}



.rules-image {
    background-color: #2A9D8F;
}